[Unit]
Description=Archivist Service

[Service]
ExecStart=/srv/etc/archivist.php > /dev/null 2>/dev/null
Type=simple
Restart=on-failure

[Install]
WantedBy=multi-user.target
Alias=archivist.service
