[submodule "extlib/inih"]
	path = extlib/inih
	url = https://github.com/benhoyt/inih.git
[submodule "extlib/boost"]
	path = extlib/boost
	url = https://github.com/boostorg/boost.git
[submodule "extlib/phirehose"]
	path = extlib/phirehose
	url = https://github.com/fennb/phirehose.git
