<!-- Search Modal -->
<div id="addEnvironmentModal" class="modal">
    <div class="modal-content">
        <h4>Add New Environment</h4>
        <br/>
        <div class='input-field'>
            <input id="environmentName" type="text" ng-model="newEnvironment.name"/>
            <label for="environmentName">Environment Name</label>
        </div>
        <div class='input-field'>
            <input id="environmentType" type="text" ng-model="newEnvironment.type"/>
            <label for="environmentType">Environment Type (i.e. DEV, TEST, PROD)</label>
        </div>
        <br/>
    </div>
    <div class="modal-footer">
      <a href="" ng-click='addEnvironment()' class="modal-action modal-close waves-effect waves-green btn-flat">Add</a>
    </div>
</div>