<!-- Tab Navigation -->
<div class="row">
    <div class="col s12">
        <ul class="tabs" tabs>
            <li class="tab col s3"><a class="active blue-text" href="#mapTab" ng-click="resetRenderLimit(10)">Map</a></li>
            <li class="tab col s3"><a class="blue-text" href="#feedTab">Feed</a></li>
            <li class="tab col s3"><a class="blue-text" href="#aboutTab">About</a></li>
            <li class="tab col s3"><a class="blue-text" href="#contactTab">Contact Us</a></li>
        </ul>
    </div>
</div>