<div ng-controller="EventListCtrl">
    <div class="row">
        <div input-field class="col s9 m11">
            <input type="text" ng-model="search.word"/>
            <label class="active">Lookup by word</label>
        </div>
<!--
        <div class="col s3 m1 right">
            <a href="" class="btn-floating btn-large grey darken-1 waves-effect waves-light" ng-click="lookupUser()">
                <i class="material-icons grey-text text-lighten-4">search</i></a>
        </div>
-->
    </div>
    
    <div class="row">
        <div class="listEvent"
             ng-repeat="tweet in data | filter:search:strict | limitTo:renderLimit"
             ng-mouseover="tweet.hover = true" ng-mouseleave="tweet.hover = false">
            <div class="divider"></div>
            
            <span>
                <a href="" ng-click="tweet.getMap()">{{::tweet.word}}</a>
                <span ng-hide="tweet.hover" class="right grey-text text-lighten-1">
                    {{getTimeAgo(tweet.time)}}
                </span>
                <span ng-show="tweet.hover" class="right grey-text">
                    {{::tweet.time.toLocaleString()}}
                </span>
            </span>
            
        </div>
    </div>
</div>
