<div ng-controller="TrendMapCtrl">
<!--
    <div class="row">
        <div input-field class="col s4 m4">
            <input type="text" ng-model="search.$" ng-change="resetRenderLimit(10)">
            <label>Search</label>
        </div>
        <div input-field class="col s4 m4">
            <input type="text" ng-model="search.name" ng-change="resetRenderLimit(10)">
            <label>Name</label>
        </div>
        <div input-field class="col s4 m4">
            <input type="text" ng-model="search.type" ng-change="resetRenderLimit(10)">
            <label>Type</label>
        </div>
    </div>
-->
    <iframe src="https://www.google.com/maps/embed/v1/place?q=ChIJOwg_06VPwokRYv534QaPC8g
                 &zoom=17
                 &key=AIzaSyCLWGtBTbTki6xwphWDWOPfZ4Csl2CtqlI">
    </iframe>
    
</div>