html, body { 
    height: 100%;
    font-family: GillSans, Calibri, Trebuchet, sans-serif;
}

header, body, footer {
/*    padding-left: 240px;*/
}

@media only screen and (max-width : 992px) {
    header, body, footer {
      padding-left: 0;
    }
}

.navigation-tab {
   -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
   -moz-animation: fadein 1s; /* Firefox < 16 */
    -ms-animation: fadein 1s; /* Internet Explorer */
     -o-animation: fadein 1s; /* Opera < 12.1 */
        animation: fadein 1s;
}   

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;   
}

.listEvent {
    
}