html, body, div, span {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	background-size: contain;
	background-repeat: no-repeat;
}

.hidden {
	display: none;
}

#header {
	height: 60px;
	background-color: #000;
	color: #FFF;
	margin-left: auto;
	text-align: center;
	font: 50px arial,
	sans-serif;
}

#box {
	display: flex;
	width: 100%;
	position: absolute;
	top: 60px;
	bottom: 0;
	overflow:hidden;
}

#map {
	flex-basis: 75%;
	height: 100%;
}

#sidebar {
	flex-basis: 25%;
	.infobox {
		padding: 10px;
		font: 14px arial, sans-serif;
		.tweet {
			display: flex;
			border-bottom: 1px solid black;
			.text {
				.x {
					cursor: pointer;
					float: left;
					margin-right: 10px;
				}
				flex-grow: 1;
			}
			.vote {
				flex-shrink: 0;
				margin-left: auto;
			   width: 20px;
				.up, .down {
					cursor: pointer;
					float: left;
					width: 100%;
				}
				.up:before, .down:before {
					content: "";
					display: block;
					padding-top: 100%;
				}
				.up {
					background-image: url("../res/upvote.png");
					&.voted {
						background-color: #EEFFEE;
					}
				}
				.down {
					background-image: url("../res/downvote.png");
					&.voted {
						background-color: #FFEEEE;
					}
				}
			}
		}
	}
}

#columns {
	height: 50px;

	#count {
		margin: 10px;
	}

	.vote {
  		position: relative;
		div {
			position: absolute;
			width: 200px !important;
			height: auto;
			top: 0;
			right: 0;
			background-color: #FAFAFA;
			border: 1px solid black;
		}
	}
}